/*ITIS 3135 Activity 2 css file*/

/*styling for the table goes here*/
body
{
	width: 750px;
	margin: 0 auto;
}

table
{
	border-collapse: collapse;
	
	margin: 20px;
}

thead
{
	background-color: green;
}

th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

.right
{
	text-align: right;
}
tbody tr:nth-of-type(even)
{
	background-color: rgb(197, 194, 194);
}
tbody td:nth-child(1){
	background-color: white;
}

tbody tr:first-child
{
	background-color: rgb(5, 131, 26);
}

